

/*header css*/


body {
  background-color:#fff200;
  z-index: -1;
  font-family: 'News Cycle', sans-serif;
}

/*hr break*/
#top, #bottom, #left, #right {
	background: #000;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom {
      height: 7rem;
      bottom: 0; }

.logo {
  width: 27rem;
  margin-left: 5rem;
}

#logo {
  width: 150px;
  height: 150px;
}
/*main title container */

.title {
  width: 60%;
  margin-left: 7rem;
  margin-top: 10rem;
}
#main-title {
  font-size: 7rem;
  font-weight: bolder;
  text-align: left;
}

.line2 {
  margin-top: 10rem;
  width: 30%;
  border: 4px solid black;
}

#line2 {
  margin-top: -8rem;
}


.line-container {
  width: 60%;
  margin-left: 7rem;
  margin-top: 8rem;
}




/*strat code */

h1 {
  font-weight: bolder;
  text-align: center;
}

p {
  font-size: 1.75rem;
  font-weight: bolder;
}

.about-container {
  margin-top: 10rem;
  margin-left: 7rem;
  display: flex;
  justify-content: flex-start;

}

.strat-container {
  width: 250px;
  height: 325px;
  text-align: left;
  margin-left: 7rem;
}



/*bio stuff*/


.bio-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  justify-content: center;
}

.pic-container {
  margin: 4rem;
}

#bio-pic {
  border-radius: 50%;
  width: 225px;
  height: 215px;
}

p {
  text-align: center;
}

/*footer and contact code */

.footer-container {
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  color: white;
}

.social-container {
  text-align: center;
}

.social-icons {
  color: #fff200;
}



#twitter,#facebook,#github {
  list-style: none;
  display: inline-block;
  margin-right: 3vw;
}
